body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

header {
  background-color: #264653;
  color: #ffffff;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
header img {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  float: right;
  margin-right: 10px;
}

header h1 {
  display: block;
  font-size: 48px;
  background-color: black;
  height: 50px;
  padding-left: 100px;
  padding-right: 20px;
  width: 300px;
  text-align: right;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  background-color: #264653;
  box-shadow: 1px 1px 12 px;
  padding: 0px 5%;
}

nav ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul li a {
  color: #d9e3da;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-container {
  position: relative;
  /* display: inline-block; */
}

.hero {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15%;
  width: 30%;
  font-size: 36px;
  background-color: #d9e3da;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
}

.about-me-aside {
  padding-left: 10%;
  padding-right: 5%;
}

.about-me-container h1 {
  text-align: right;
}

.about-me-main {
  background-color: red;
}

.project-container {
  display: flex;
}

.project-aside {
  padding-left: 10%;
  padding-right: 5%;
}

/* .project-main { */
/* display: flex; */
  /* align-content: center; */
  /* align-items: center; */
  /* flex-flow: column wrap;
justify-content: left
}

#projFeature {
  position: relative;
  /* background-image: url(../images/pat-whelen-68OkRwuOeyQ-unsplash.jpg);
  padding: 100px 200px;
  margin: 20px;
  background-size: cover;
  background-position: center; */
}

#proj1 {
  position: relative;
  max-width: 300px;
  margin: 5px;
  float: left;

  /* background-image: url(../images/j-williams-qbcW8m4IwWY-unsplash.jpg); */
  /* padding: 50px 150px; */
  /* margin: 20px; */
  /* background-size: cover; */
  /* background-position: center; */
  /* flex-wrap: wrap; */
}

#proj2 {
  position: relative;
  max-width: 300px;
  margin: 5px;
  float: left;

  /* background-image: url(../images/ryunosuke-kikuno-tk7bmlH-c-8-unsplash.jpg);
  padding: 50px 150px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap; */
}

#proj3 {
  position: relative;
  max-width: 300px;
  margin: 5px;
  float: left;
  /* background-image: url(../images/ridham-parikh-4fpXtzzvcr4-unsplash.jpg);
  padding: 50px 150px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap; */
}

#proj4 {
  position: relative;
  max-width: 300px;
  margin: 5px;
  float: left;
  /* background-image: url(../images/chuttersnap-dijDmGXAiFY-unsplash.jpg);
  padding: 50px 150px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap; */
}



.feature-project-text {
  font-size: 36px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  justify-content: start;
  color: #d9e3da;
  background-color: black;
}

#feature-project-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#sub-project1-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#sub-project2-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#sub-project3-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#sub-project4-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.sub-project-text {
  color: #d9e3da;
  background-color: black;
  font-size: 36px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

.contact-me-container {
  display: flex;
}

.contact-me-aside {
  border-color: black;
  padding-left: 10%;
  padding-right: 5%;
}

.contact-me-container h1 {
  text-align: right;
}

.contact-me-main {
  display: flex;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}

.contact-me-main ul li {
  display: inline-block;
  justify-content: center;
  padding: 20px;
}
